page-home {
    .no-scroll .scroll-content {
        overflow: hidden;
    }

    [class$="overlay"] {
        background-color: rgba(color($colors, accent), 0.8);
        padding: 20px 30px;
        display: flex;
        flex-flow: column;
        align-items: center;
        border-radius: 7px;

        color: color($colors, white);
        font-weight: bold;
        font-size: 1.3em;

        position: absolute;
        left: 20%;
        right: 20%;

        .overlay-header {
            margin-bottom: 5px;
        }
    }
}
