page-home {
    .icon-visible {
        position: relative;
        top: 4px;
    }

    .no-scroll .scroll-content {
        overflow: hidden;
    }

    .overlay-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    [class$="overlay"] {
        background-color: color($colors, accent);
        padding: 25px 35px;
        display: inline-flex;
        flex-flow: column;
        align-items: center;
        border-radius: 7px;
        z-index: 100;

        color: color($colors, white);
        font-weight: bold;
        font-size: 1.3em;

        .overlay-header {
            margin-bottom: 5px;
        }
    }
}
